@import url('https://fonts.gooleapis.com/css?family=La+Belle+Aurore|Open+Sans');

:root {
  --brightYellow: #E3B505;
  --black: #191919;
  --brown: #382923;
  --yellow: rgb(242, 180, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
  background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85), url('../imag/bodyBcg.jpeg');
}

.bell-fonts {
  font-family: 'La Belle Aurore', cursive; 
}

.header {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    background: url('../img/headerBcg.jpeg')center/cover fixed no-repeat; 
    /* ^ That's one line shorthand for all of the below. 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */
  }
}

.banner {
  text-align: center;
  z-index: 3;
}
.banner__title {
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--brightYellow);
}
