:root {
  --lightBlue: #2b98f0;
  --darkBlue: #495e7e;
  --gray: #f5f5f5;
  --mediumGray: #c9c9c9;
  --darkGray: #575757;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--gray);
}

#header {
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

#banner {
  flex: 1 0 auto; 
}

nav {
  flex: 0 0 auto; 
}
nav ul {
    list-style-type: none;
}
nav ul li a {
    display: block;
    color: var(--lightBlue);
    background: transparent; 
    text-decoration: none; 
    padding: 10px; 
    font-size: 20px; 
    transition: color 1s ease, background .5s ease, padding .5s ease;
}
nav ul li a: hover {
  color: var(--gray);
  padding-left: 60px;
  background: var(--lightBlue);
}

#nav-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
}
#nav-top h3 {
  font-size: 30px;
  padding: 5px;
  color: var(--lightBlue);
  border: 3px solid;
  transition: color 2s ease, background 2s ease;
}
#nav-top h3:hover {
  background: var(--lightBlue);
  color: var(--gray);
}

#menu-btn {
  padding: 5px;
  border: 2px solid var(--lightBlue);
  cursor: pointer;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  height: 5px;
  width: 35px;
  background-color: var(--lightBlue);
  margin: 5px 0;
  transition: transform .1s ease;
}

.turn .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px); 
}
.turn .bar2 {
  opacity: 0; 
}

.turn .bar3 {
  transform: rotate(45deg) translate(-7px, -8px); 
}

@media screen and (min-width:690px) {
  nav {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  #menu btn {
    display: none; 
  }
  nav ul {
    display: flex !important;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }
  nav ul li {
    flex: 1 0 125px; 
  }
  nav ul .icon {
    flex: 0 0 20px; 
  }
  nav ul li .link-icon {
    color: var(--gray);
    background: var(--darkBlue);
  }
  nav ul li .link-icon:hover {
    background: #008dff; 
  }
  nav ul a {
    text-align: center; 
  }
  nav ul a:hover {
    padding: 10px !important; 
  }
  #nav-top {
    padding: 10px; 
  }
}

/*#### Banner ####*/
#banner {
  background: url(images/banner-img.jpeg); 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}
#banner-box {
  color: var(--gray);
  text-align: center;
}
#banner-title { 
  text-transform: capitalize;
  font-size: 60px;
}
.banner-underline {
  width: 200px;
  margin: 10px auto;
  border: 3px solid var(--lightBlue);
}
.banner-subtitle {
  margin: 20px 0 40px 0;
  text-transform: capitalize;
  font-size: 25px;
}
#banner-box a {
  display: inline-box; 
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  color: var(--gray);
  background: var(--lightBlue);
  border: 3px solid var(--lightBlue);
  transition: background 1s ease, border 0.5s ease;
}
#banner-box a:hover {
  background: transparent;
  border: 3px solid var(--gray); 
}

/*#### Skills ####*/
#skills {
  padding: 40px;  
}
.skill {
  text-align: center;
  margin: 20px 0;
}
.skill .fa {
  color: var(--lightBlue); 
  padding: 20px; 
  border-radius: 50%;
  font-size: 60px; 
  transition: transform 0.5s ease-in, background 0.5s ease, color 0.5s ease;
}
.skill .fa:hover {
  transform: scale(0.7);
  background: var(--lightBlue);
  color: var(--gray);
}
.skill h3 {
  margin: 10px 0 15px 0;
  font-size: 30px;
  text-transform: capitalize;
  color: var(--lightBlue);
}
.skill p {
  line-height: 1.5;
  width: 75%;
  margin: 0 auto;
}

.title {
  margin: 10px 0 40px 0;
  cursor: pointer;
}
.title-text {
  font-size: 60px;
  text-transform: capitalize;
  color: var(--darkGrey);
}
.title-underline {
  width: 70px;
  border: 3px solid var(--lightBlue);
  transition: width 1s ease, border 1s ease;
}
.title:hover .title-underline {
  width: 200px;
  border: 3px solid red;
}

/* Flexbox version 
@media screen and (min-width:576px) {
  .skills-center {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skill {
    flex: 0 1 calc(50% - 2em); 
  }
}
Grid version */
@media screen and (min-width: 576px) {
  .skills-center {
    min-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
}

@media screen and (mind-width: 992px) {
  skills-center {
    grid-template-columns: repeat(4, 1fr); 
  }
}
/* #### About #### */
#about {
  padding: 40px;
  background: var(--mediumGray);
}

#about-text,
#about-video {
  padding: 40px; 
}

#about-text h2 {
  color: var(--gray);
  font-size: 35px;
}

#about-text p {
  margin: 20px 0;
}

#about-text a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  color: var(--gray);
  border: 2px solid var(--lightBlue);
  background: var(--lightBlue);
  transition: background 0.5s ease, border 0.5s ease;
}

#about-text a:hover {
  background: transparent;
  border: 2px solid var(--gray);
}

/* Flex version
@media screen and (min-width:776px) {
  #about {
    display: flex;
  }
  #about-text {
    min-height: 40vh;
    flex: 0 0 60%;
  }
  #about-video {
    min-height: 40vh;
    flex: 0 0 40%;
  }
}

Grid version */
