:root {
  --lightBlue: #2b98f0;
  --darkBlue: #495e7e;
  --gray: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--gray);
}

#header {
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

#banner {
  flex: 1 0 auto; 
}
